click==6.7
Django==2.0.3
eventlet==0.22.1
Flask==0.12.2
Flask-Compress==1.4.0
Flask-HTTPAuth==3.2.3
Flask-SocketIO==2.9.6
google-api-python-client==1.6.5
greenlet==0.4.13
httplib2==0.10.3
itsdangerous==0.24
Jinja2==2.10
MarkupSafe==1.0
oauth2client==4.1.2
pyasn1==0.4.2
pyasn1-modules==0.2.1
pySmartDL==1.2.5
python-engineio==2.0.3
python-socketio==1.9.0
pytz==2018.3
rsa==3.4.2
six==1.11.0
uritemplate==3.0.0
Werkzeug==0.14.1
WTForms==2.1
