<html>
<head>
    <title>Google Drive Downloader</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body>

<div class="container">
    <h2>Google Drive Downloader</h2>
    {{ WarningBar|safe }}
    <form>
        <label for="name">Name:</label>
        <input type="text" class="form-control" id="name" name="name" placeholder="Name of the file">
        <br>
        <label for="link">Link:</label>
        <input type="text" class="form-control" id="link" name="link" placeholder="Link of the file">
        <input type="checkbox" id="upl" checked> upload at complete<br>
        <input type="checkbox" id="del" checked> delete after finish<br>
    </form>
    <button id="btn" class="btn btn-success">Submit</button>

    <br><br>
    <div id="alert-info" class="alert alert-info" style="display: none"></div>
    <br><br>
    <div id="status" class="list-group">
        <br>
    </div>
</div>

<script src="static/socket.io.slim.js"></script>
<script src="static/main.js"></script>

</body>
</html>